{% extends "base.html" %}

{% block content %}

<!-- <div class="absolute h-full w-full bg-img"></div> -->
<div class="h-[85vh] flex flex-col">
    <div class="py-24">
        <div class="relative">
            <h1 class="graffiti relative w-min lg:w-max m-auto px-4 text-center text-7xl sm:text-9xl">
                CSAW QUALS
                <div class="absolute -bottom-2 -right-8 rotate-[345deg] graffiti text-5xl sm:text-7xl text-secondary">
                    2024
                </div>
            </h1>
        </div>
    </div>

    <div id="3D" class="flex-grow"></div>

    <div class="text-center pt-10">
        <div class="mb-4 sm:text-xl" id="countdown">
            <p id="count-text">CTF Starts In:</p>
            <span id="days-count">Days</span> Days
            <span id="hours-count">Hours</span> Hours
            <span id="mins-count">Minutes</span> Minutes
            <span id="secs-count">Seconds</span> Seconds
        </div>

        <p class="text-lg sm:text-2xl">
            Join the CSAW 2024 <a href="https://discord.gg/csaw24-quals">discord server</a>!
            <br>
            Make sure to read <a
                href="https://docs.google.com/document/u/2/d/1tbHhSMdGz5lEgPe2zty_uG1eRx3W39GYW4hoWkpn9tA/pub">the
                rules</a>!
        </p>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ Assets.js("assets/js/glitch.js") }}
{{ Assets.js("assets/js/frontpage/3d.ts") }}
{{ Assets.js("assets/js/frontpage/countdown.ts") }}
{% endblock %}